@use './button.scss';
@use "./clock.scss";
@use './info.scss';

html,
body {
  height: 100%;
  margin: 0;

  font-family: "Consolas";
}

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/digital-7_mono.ttf");
  /* Credit for the font:  Sizenko Alexander*/
  /* For personal use: https://www.dafont.com/digital-7.font */
}

#background {
  height: 100%;

  display: grid;
  grid-template-rows: 100fr 1fr;
  align-items: center;
}

@media (orientation: landscape) {
  #background {
    grid-template-columns: 100fr 1fr;
    grid-template-rows: 1fr;
  }
}

.hideable {
  transition: opacity ease-in 200ms;
}

.hidden {
  opacity: 0;
}
